# Ignore Visual Studio temporary files
.vs/

# Ignore build output
bin/
obj/

# Ignore user-specific files
*.suo
*.user
*.sln.docstates

# Ignore NuGet packages
*.nuget.props
*.paket.props
*.paket.targets
packages/

# Ignore .NET Core runtime files
*.dll
*.pdb
*.exe
*.cache

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore macOS file system metadata files
.DS_Store