@model List<TrackViewModel>

@{
    ViewData["Title"] = "CreateWithSpotify";
}

<h1>Create With Spotify</h1>

<h4>Select a Track</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="trackName">Track Name</label>
            <input type="text" id="trackName" name="trackName" class="form-control" onkeyup="searchTracks()" />
        </div>
    </div>
</div>

<div id="searchResults" class="row"></div>

<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel">Rate this Track</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="modalTrackTitle" class="text-center mt-3"></h4>
                <h6 id="modalArtistName" class="text-center mb-3"></h6>
                <form id="ratingForm">
                    <input type="hidden" id="songIdModal" name="songIdModal" />
                    <div class="form-group">
                        <label for="trackRating">Rating</label>
                        <div id="trackRating">
                            <i class="far fa-star" data-index="0"></i>
                            <i class="far fa-star" data-index="1"></i>
                            <i class="far fa-star" data-index="2"></i>
                            <i class="far fa-star" data-index="3"></i>
                            <i class="far fa-star" data-index="4"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ratingReason">Reason</label>
                        <textarea class="form-control" id="ratingReason" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var clientId = '@ViewBag.ClientId';
        var clientSecret = '@ViewBag.ClientSecret';
        let selectedRating = 0;

        function searchTracks() {
            var query = document.getElementById('trackName').value;
            if (query.length < 3) {
                document.getElementById('searchResults').innerHTML = "";
                return;
            }

            fetch('/Reviews/SearchTracks?query=' + query)
                .then(response => response.json())
                .then(data => {
                    var resultsDiv = document.getElementById('searchResults');
                    resultsDiv.innerHTML = "";

                    data.forEach(track => {
                        var trackDiv = document.createElement('div');
                        trackDiv.classList.add('col-md-4');
                        trackDiv.innerHTML = `
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">${track.name}</h5>
                                    <p class="card-text"><strong>Artist:</strong> ${track.artist}</p>
                                    <button class="btn btn-primary" onclick="openRatingModal('${track.id}', '${track.name}', '${track.artist}')">Select</button>
                                </div>
                            </div>`;
                        resultsDiv.appendChild(trackDiv);
                    });
                });
        }

        function openRatingModal(trackId, trackName, artistName) {
            document.getElementById('modalTrackTitle').innerText = trackName;
            document.getElementById('modalArtistName').innerText = artistName;

            document.getElementById('songIdModal').value = trackId;
            $('#ratingModal').modal('show');
        }

        $(document).ready(function() {
            $('#trackRating i').on('click', function() {
                selectedRating = parseInt($(this).data('index')) + 1;
                $('#trackRating i').removeClass('fas').addClass('far');
                for (var i = 0; i < selectedRating; i++) {
                    $('#trackRating i').eq(i).removeClass('far').addClass('fas');
                }
            });
        });
    </script>
}
